.mini-galeria {
  .galeria-thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px; margin-top: 20px;
  }

  img {
    width: 100%; height: 160px; object-fit: cover;
    border-radius: 8px; border: 2px solid #ccc;
    @include transition-simple;

    &:hover { transform: scale(1.05); box-shadow: 0 4px 10px rgba(0,0,0,0.2); }
  }
}