$primary-green:   #255225;
$secondary-green: #3b6d3b;
$line-height-base: 1.6;
$accent-green:    #4fa84f;
$light-green:     #ddf7b3;
$lighter-green:   #e9f5e9;
$white:           #ffffff;
$border: #fff48f;
$dark-text:       #333333;
$light-text:      #3a3a3a;
$bp-mobile:       768px;
$bp-tablet: 992px;
$font-base: Arial, Helvetica, sans-serif;